<div class="container">
  <div class="col-lg-4 col-lg-offset-4">
    <form class="form-signin">
        <h2 class="form-signin-heading text-center">Espace client</h2>
        <label for="inputEmail" class="sr-only">Email</label><br>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email">
        <label for="inputPassword" class="sr-only">Password</label><br>
        <input type="password" id="inputPassword" class="form-control" placeholder="Code secret"><br>
        <button class="btn btn-lg btn-success btn-block" type="submit">Connexion</button>
    </form>
  </div>
</div>