<div class="container" >
  <div class="col-lg-4 col-lg-offset-4">
    <form class="form-signin" (ngSubmit)="login()">
        <h2 class="form-signin-heading text-center">E-BANKING</h2>
        <br>
        <div class="input-group">
          <div class="input-group-addon">@</div>
          <input type="mail" name="mail" class="form-control" placeholder="Email" [(ngModel)]="mail" required="true">
        </div>
        <br>
        <div class="input-group">
            <div class="input-group-addon">?</div>
            <input type="password" name="password" class="form-control" placeholder="Code secret" [(ngModel)]="password" required="true">
        </div>
        <br>
        <button id="connectButton" class="btn btn-lg btn-info btn-block" type="submit">Connexion</button>
    </form>
  </div>
</div>